---
- name: "nadoka rc file"
  template:
    src: "nadoka.rc.j2"
    dest: "{{ nadoka_root }}/{{ item.service_name }}.rc"
    owner: "root"
    group: "nadoka"
    mode: 0640
    validate: 'ruby -c %s'
  with_items: "{{ nadoka }}"
  notify: "Restart nadoka service"

- name: "nadoka service file for systemd"
  template:
    src: "nadoka.service.j2"
    dest: "/etc/systemd/system/nadoka@.service"
    owner: "root"
    group: "root"
    mode: 0644
  notify: "Restart nadoka service"

# ufw out port
- name: "Allow out to IRC server"
  ufw: rule=allow direction=out to_port={{ item.irc_port }} proto=tcp
  with_items: "{{ nadoka }}"
