---
- name: "nadoka rc file"
  template:
    src: "nadoka.rc.j2"
    dest: "{{ nadoka_root }}/{{ nadoka_service_name }}.rc"
    owner: "root"
    group: "nadoka"
    mode: 0640
  notify: "restart nadoka service"

- name: "nadoka service file for systemd"
  template:
    src: "nadoka.service.j2"
    dest: "/etc/systemd/system/{{ nadoka_service_name }}.service"
    owner: "root"
    group: "root"
    mode: 0644
  notify: "restart nadoka service"

# ufw out port
- name: "Allow out to IRC server"
  ufw: rule=allow direction=out to_port={{ nadoka_irc_port }} proto=tcp
