# vim: set ft=ruby:
class NADOKA_Config < Nadoka::NDK_ConfigBase
  Client_server_port = nil
  Servers = [
    {
      :host => '{{ nadoka_irc_host }}',
      :port => {{ nadoka_irc_port }},
      :pass => {{ nadoka_irc_pass }},
      :ssl_params => {{ nadoka_irc_ssl_params }},
    },
  ]

  Hostname = Socket.gethostname
  number = RUBY_VERSION.delete("^0-9")
  User = "#{Hostname}_#{number}"
  number = User.delete("^0-9").to_i
  delay = number.to_f
  delay /= 10.0 while delay > 10.0
  Nick = {{ nadoka_irc_nick }}

  Channel_info = {
{{ nadoka_channel_info }}
  }

  require 'tmpdir'
  Log_dir = Dir.mktmpdir

  Plugins_dir = [
    '{{ nadoka_fprog_plugins }}',
    '{{ nadoka_nadoka }}/plugins',
  ]

  BotConfig = [
    #:BackLogBot, # strongly recommended
  ]

  BotConfig << {
    :name => :Ponger,
    :ch => //,
    :pattern => /\Ap[io]ng.?\z/,
    :reply => "pong #{number}",
    :delay => delay,
  }

  BotConfig << {
    :name => :Upgradable,
    :bot_name => "upgradable #{number}",
    :ch => //,
    :pattern => /\Aupgradable\z/,
    :delay => delay,
  }

  if File.executable?('/usr/lib/update-notifier/update-motd-reboot-required')
    BotConfig << {
      :name => :CatBot,
      :ch => //,
      :pattern => /\Aupgradable\z/,
      :file => "|/usr/lib/update-notifier/update-motd-reboot-required",
      :delay => delay,
    }
  end

  BotConfig << {
    :name => :CatBot,
    :ch => //,
    :pattern => /\Auptime\z/,
    :file => "|uptime",
    :delay => delay,
  }
end
