[Unit]
Description=Nadoka Daemon for %I
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
StartLimitIntervalSec={{ nadoka_systemd.Unit.StartLimitIntervalSec }}

[Service]
ExecStart={{ nadoka_ruby_command }} -vd {{ nadoka_nadoka }}/nadoka.rb --rc {{ nadoka_root }}/%i.rc
ExecReload=/bin/kill -HUP $MAINPID
PrivateTmp=yes
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -o {{ nadoka_user }} -g {{ nadoka_group }} -m 0750 -d /run/nadoka/%i
WorkingDirectory=-/run/nadoka/%i
User={{ nadoka_user }}
Group={{ nadoka_group }}
OOMScoreAdjust=1000
Type={{ nadoka_systemd.Service.Type }}
WatchdogSec={{ nadoka_systemd.Service.WatchdogSec }}
Restart=always
RestartSec={{ nadoka_systemd.Service.RestartSec }}
Environment='DEBIAN_DISABLE_RUBYGEMS_INTEGRATION=true'

[Install]
WantedBy=multi-user.target
