[Unit]
Description=Nadoka Daemon
After=network.target

[Service]
ExecStart={{ nadoka_ruby_command }} -vd {{ nadoka_nadoka }}/nadoka.rb --rc {{ nadoka_root }}/{{ nadoka_service_name }}.rc
Restart=always
PrivateTmp=yes
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -o {{ nadoka_user }} -g {{ nadoka_group }} -m 0750 -d /run/nadoka/{{ nadoka_service_name }}
User={{ nadoka_user }}
Group={{ nadoka_group }}
OOMScoreAdjust=1000

[Install]
WantedBy=multi-user.target
