#!/bin/sh
set -e
cd "$(dirname $0)"
NADOKA_HOME="$(pwd)"

NADOKA_PROGRAM="{{ nadoka_nadoka }}/nadoka.rb"
NADOKA_RC="nadoka.rc"
RUBY_COMMAND="{{ item.ruby_command }}"

OOM_ADJ=oom_adj
if [ -f /proc/$$/oom_score_adj ]; then
    OOM_ADJ=oom_score_adj
fi
echo 11 > "/proc/$$/$OOM_ADJ"
exec $RUBY_COMMAND -vd "$NADOKA_PROGRAM" --rc "$NADOKA_RC"
